<!DOCTYPE html>
<html lang="en">

<%- include('./Components/Head', { title: 'Not Found'}) %>
<%- include('./Components/Navbar', { user }) %>
<body>
    <div class="container title-text">
        <h1>404 - Not Found</h1>
        <p><a href='/'>Click here</a> to go back.</p>
    </div>
</body>

</html>