<!DOCTYPE html>
<html lang="en">

<%- include('./Components/Head', { title: 'Activation'}) %>
<%- include('./Components/Navbar', { user }) %>
<body>
    <div class="container title-text">
        <h1>Your account is not activated!</h1>
        <p>In order to ensure our users are reciving timely updates and news about new services, plus changes to our services, you must join our Discord in order to proceed.</p>
        <a href="https://discord.gg/Nu6KVjJYj6" class="btn btn-primary">Join Discord</a>
        <a href="/activation" class="btn btn-secondary">Try Again</a>
        <br><br>
        <p>If you need help, join our server and contact a developer.</p>
    </div>
</body>

</html>